<div>
    <h1>What?</h1>
    <slot name="item">

    </slot>

    <slot name="item">

    </slot>
</div>

<div class="carousel-container">
    <ce-carousel carousel-height="400px" carousel-width="750px">
        <ce-carousel-viewport>
            <ce-carousel-container>
                <ce-carousel-item>
                    
                </ce-carousel-item>
                <ce-carousel-item>
                    
                </ce-carousel-item>
                <ce-carousel-item>
                    
                </ce-carousel-item>
            </ce-carousel-container>
        </ce-carousel-viewport>
    </ce-carousel>
</div>